{% extends "common/base.html" %}
{% load static %}
{%block cssjs%}
<style>
.goods_detail_pic img{
	width: 100%;
	height: 100%;
}

</style>
{%endblock%}
{% block title %}商品详情{% endblock %}

{% block content %}
    <div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
						<li><a href="{%url 'showgoods:productlist' 1 %}" class="fruit">新鲜水果</a></li>
						<li><a href="{%url 'showgoods:productlist' 2 %}" class="seafood">海鲜水产</a></li>
						<li><a href="{%url 'showgoods:productlist' 3 %}" class="meet">猪牛羊肉</a></li>
						<li><a href="{%url 'showgoods:productlist' 4 %}" class="egg">禽类蛋品</a></li>
						<li><a href="{%url 'showgoods:productlist' 5 %}" class="vegetables">新鲜蔬菜</a></li>
						<li><a href="{%url 'showgoods:productlist' 6 %}" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="{% url 'showgoods:productlist' 1%}">全部分类</a>
		<span>></span>
		<a href="{% url 'showgoods:productlist' 1%}">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="{% static good.img1 %}"></div>

		<div class="goods_detail_list fr">
			<h3>{{good.goodsname}}</h3>
			<p>{{good.goods_introduce}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{good.price}}</em></span>
				<span class="show_unit">单  位：500g</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>
				</div>
			</div>
			<div class="total">总价：<em>16.80元</em></div>
			<div class="operate_btn">
				<!-- <a href="{% url 'shopcart:place_order' %}" class="buy_btn">立即购买</a> -->
				<a href="javascript:;" class="add_cart" id="add_cart" proid="{{good.id}}">加入购物车</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					<li>
						<a href="#"><img src="{% static 'images/goods/goods001.jpg' %}"></a>
						<h4><a href="#">进口柠檬</a></h4>
						<div class="prize">￥3.90</div>
					</li>
					<li>
						<a href="#"><img src="{% static 'images/goods/goods002.jpg' %}"></a>
						<h4><a href="#">玫瑰香葡萄</a></h4>
						<div class="prize">￥16.80</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>草莓采摘园位于北京大兴区 庞各庄镇四各庄村 ，每年1月-6月面向北京以及周围城市提供新鲜草莓采摘和精品礼盒装草莓，草莓品种多样丰富，个大香甜。所有草莓均严格按照有机标准培育，不使用任何化肥和农药。草莓在采摘期间免洗可以直接食用。欢迎喜欢草莓的市民前来采摘，也欢迎各大单位选购精品有机草莓礼盒，有机草莓礼盒是亲朋馈赠、福利送礼的最佳选择。 </dd>
				</dl>
			</div>

		</div>
	</div>

<script>
	var $a=$(".add_cart");
		$a.click(function(){
			var $url1="{%url 'shopcart:add_shopcart'%}";
			var $pro_id=$a.attr("proid");
			var $num=$(".num_show").val();
			data1={
				"csrfmiddlewaretoken": "{{ csrf_token }}",
				"pro_id":$pro_id,
				"num":$num
			};
			doadd($url1);
			
		});
		var doadd=function(url1){
			$.ajax({
			type:"POST",
			url:url1,
			async:false,
			data:data1,
			success : function(result) {
				console.log(result);
            	if(result==="1"){
					$(window).attr('location','/shopcart/show');
				}else if(result==="2"){
					alert("您未登录，请先登录！");
					$(window).attr('location','/account/login');
				}
				else{
					meg="加入购物车失败";
					alert(meg)
				};
				
			}});
		};

</script>
{% endblock %}